<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${question}">
            <td>
                <a th:href="@{|/question/detail/${question.id}|}"
                th:text="${question.subject}"></a>
            </td>
            <td th:text="${question.createDate}"></td>
        </tr>
        </tbody>
    </table>
    <h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <div>
        <ul>
            <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
        </ul>
    </div>
    <form th:action="@{|/answer/create/${question.id}|}" method="post">
        <textarea name="content" id="content" rows="15"></textarea>
        <input type="submit" value="답변등록">
    </form>
</div>
</html>

